# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Python server
alias server="python -m SimpleHTTPServer 8000"

# Postgreslsql
alias pgserver="postgres -D /usr/local/var/postgres"

# Create gemsets
alias gemset="echo '.gems' > .rbenv-gemsets"
